# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases & Data
data/chroma_db/*
!data/chroma_db/.gitkeep
.chroma/

# OS Files
.DS_Store
Thumbs.db
